.progress {
  width: 80%;
  margin: 0 auto;
  background-color: #e6e6e6;
  border-radius: 5px;
  overflow: hidden; 
}

.progress-bar {
  background-image: repeating-linear-gradient(
      45deg,
      #268fff,
      #268fff 10px,
      #257bff 10px,
      #257bff 20px
  );
}

.disabled a {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.detail{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  margin: 15px auto;
}

.detail button{
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 2px 7px 2px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
  margin: 0 auto;
  width: 75%;
  background-color: black;
  color: white;
  font-size: 14px;
}

.index{
  padding: 10px;
}


ul.pagination{
  width: 250px;
  margin: 20px auto;
}

.page-link{
  color: black;
  border: none;
  cursor: default;
  font-size: 12px;
}

.page-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

.norecord{
  width: 900px;
  margin: 15px auto;
  padding: 10px; 
  border: 1px solid transparent;
  border-radius: 5px;
}


.row-default {
  transition: background-color 0.5s ease;
  background-color: black;
}

.row-odd {
  background-color: #2b2f32;
}


.row-even:hover {
  background-color: #2b2f32;
}


.row-selected {
  background-color: #d3d3d3;
}

.row-selected:hover {
  background-color: #d3d3d3;
}


@media (max-width: 450px) {
  .progress {
    width: 98%;
    margin: 0 auto;
    background-color: #e6e6e6;
    border-radius: 5px;
    overflow: hidden; 
  }
  .detail{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    margin: 15px 0;
  }
  .table{
    margin: 0 10px;
    width: 900px;
    background-color: black;
    color: white;
    font-size: 14px;
  }


}
