<search-form></search-form>
<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 10px;">
    <button 
      [style.backgroundColor]="switch === 'result' ? 'black' : 'white'"
      [style.color]="switch === 'result' ? 'white' : 'black'"
      style="border: 1px solid transparent;border-radius: 5px;padding: 4px 12px;font-size: 15px;"
      (click)="switch='result'">
      Results
    </button>
    <button 
    (click)="switch='wishlist'"     
    [style.backgroundColor]="switch === 'wishlist' ? 'black' : 'white'"
    [style.color]="switch === 'wishlist' ? 'white' : 'black'"
    style="border: 1px solid transparent;border-radius: 5px; padding: 4px 12px;font-size: 15px;">
      Wish List
    </button>
</div>

<result-main *ngIf="switch=='result'&& showresult"></result-main>
<wish-main *ngIf="switch=='wishlist'"></wish-main>

