<div class="formpart">
    <div class="title row d-flex align-items-center">
        <div class="offset-sm-2 mt-3 mb-3">
            <h3 style="margin: 0 15px;">Product Search</h3> 
        </div>
    </div>
    <form action="" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group row mb-3">
            <div class="col-sm-2 col-form-label offset-sm-2">
                <label for="keyword" style="margin: 0 15px;">Keyword<span style="color: red;">*</span></label>
            </div>         
            <div class="col-sm-5">
                <div style="margin: 0 15px;">
                    <input type="text" required class="form-control" name="keyword" formControlName="keyword" [class.red-border]="myForm.get('keyword')?.touched && isWhitespaceOnly()" placeholder="Enter Product Name (eg. iPhone 8)">
                </div>
            </div>
            <div class="alert offset-sm-4 mb-0 pt-0 pb-0 text-danger" *ngIf="myForm.get('keyword')?.touched && isWhitespaceOnly()">
                <div style="margin: 0 15px;">Please enter a keyword</div>
            </div>
        </div>    
        <div class="form-grou row mb-3">
            <div class="col-sm-2 col-form-label offset-sm-2">
                <label style="margin: 0 15px;" for="category">Category</label>
            </div>           
            <div class="col-sm-2">
                <div style="margin: 0 15px;">
                    <select name="category" class="form-select" id="category" formControlName="category">
                        <option value="All" selected>All Categories</option>
                        <option value="Art">Art</option>
                        <option value="Baby">Baby</option>
                        <option value="Books">Books</option>
                        <option value="Clothing">Clothing, Shoes & Accessories</option>
                        <option value="Computers">Computers/Tablets & Networking</option>
                        <option value="Health">Health & Beauty</option>
                        <option value="Music">Music</option>
                        <option value="VideoGame">Video Games & Consoles</option>
                    </select>  
                </div>         
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-sm-2 col-form-label offset-sm-2">
                <label style="margin: 0 15px;" for="condition">Condition</label>
            </div>
            <div class="col-sm-5 d-flex align-items-center">
                <div style="margin: 0 15px;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="condition" value="New" id="conditionNew" formControlName="conditionNew">
                        <label class="form-check-label" for="conditionNew">
                            New
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="condition" value="Used" id="conditionUsed" formControlName="conditionUsed">
                        <label class="form-check-label" for="conditionUsed">
                            Used
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="condition" value="Unspecified" id="conditionUnspecified" formControlName="conditionUnspecified">
                        <label class="form-check-label" for="conditionUnspecified">
                            Unspecified
                        </label>
                    </div> 
                </div>  
            </div> 
        </div>
        <div class="form-group row mb-3">
            <div class="col-sm-2 col-form-label offset-sm-2">
                <label for="shipping" style="margin: 0 15px;">Shipping Options</label>
            </div>            
            <div class="col-sm-5 d-flex align-items-center">
                <div style="margin: 0 15px;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="shipping" value="localPickup" id="localPickup" formControlName="shippingFree">
                        <label class="form-check-label" for="localPickup">
                            Local Pickup
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="shipping" value="freeShipping" id="freeShipping" formControlName="shippingLocal">
                        <label class="form-check-label" for="freeShipping">
                            Free Shipping
                        </label> 
                    </div>   
                </div>        
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-sm-2 col-form-label offset-sm-2">
                <label for="distance" style="margin: 0 15px;">Distance (Miles)</label>
            </div>
            <div class="col-sm-2">
                <div style="margin: 0 15px;">
                    <input type="number" class="form-control" id="distance" placeholder="10" name="distance" formControlName="distance">
                </div>
            </div> 
        </div>
        <div class="form-group row mb-3">
            <div class="col-sm-2 col-form-label offset-sm-2">
                <label style="margin: 0 15px;">From<span style="color: red;">*</span></label>
            </div>
            <div class="col-sm-5">
                <div class="form-check" style="margin: 0 15px;">
                    <input class="form-check-input" type="radio" name="locationchoice" id="currentLocation" (click)="setLocation('current')" checked>
                    <label class="form-check-label" for="currentLocation">
                        Current Location
                    </label>
                </div>
                <div class="form-check" style="margin: 0 15px;">
                        <input class="form-check-input" type="radio" name="locationchoice" id="otherLocation" (click)="setLocation('enter')">
                        <label class="form-check-label" for="otherLocation">
                            Other. Please specify zip code:
                        </label>                    
                </div>
                <div style="margin: 0 15px;">
                    <input type="text" 
                            name="zipcode" 
                            required 
                            [class.red-border]="location=='enter'&&myForm.get('zipcode')?.invalid"
                            matInput
                            [matAutocomplete]="auto"
                            class="form-control"
                            formControlName="zipcode">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete> 
                    <div class="alert mb-0 p-0 text-danger" *ngIf="location=='enter'&&myForm.get('zipcode')?.invalid">
                        Please enter a zip code
                    </div>   
                </div>               
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8 offset-sm-2 mb-3">
                <div style="margin: 0 15px;">
                    <button type="submit" class="btn btn-primary" [disabled]="!isZipcodeValid()||isWhitespaceOnly()">
                        <span class="material-icons">
                            search
                        </span>
                        Search
                    </button>
                    <button type="reset" class="btn btn-secondary" style="margin-left: 1.5rem" (click)="Clear()">
                        <span class="material-icons">
                            clear_all
                        </span>
                        Clear
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

